@charset "UTF-8";

#headerLogo {
	
	position: relative;
	width: 1050px;
	height: 83px;
	margin: 0 auto
}

#headerLogo .bnr_delivery {
	position: absolute;
	left: 17px;
	top: -28px;
	margin: auto;
	height: 22px
}

#headerLogo .bnr_delivery img {
	width: 163px;
	height: 22px
}

#headerLogo .logo {
	position: absolute;
	left: 15%;
	bottom: 6px;
	width: 200px;
	height: 70px;
	margin-left: -100px
}

#headerLogo .logo img {
	display: block;
	width: 103px;
	height: 70px;
	margin: 0 auto
}

#headerLogo .logo #gnbLogoContainer {
	margin: 0 auto
}

/* 입력바 */
.gnb_search {
	
	position: absolute;
	position :relative;
	left:30%;
	top:30px;;

	width: 400px;
	height: 10px;
	
}

.gnb_search .inp_search {
	width: 400px;
	height: 36px;
	
	
	border-radius: 18px;
	border : 1px solid black;
	background-color: #fff;
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 12px;
	color: #666;
	line-height: 16px;
	outline: none
}

.gnb_search .inp_search.focus {
	background-color: #fff;
	color: #333
}

.gnb_search .btn_search {
	position: absolute;
	right: 10px;
	top: 3px;
	width: 30px;
	height: 30px
} 

/* 장바구니, 마이페이지 */
#my-content {
	position: absolute;
	left: 76%;
	bottom: 0;
	width: 300px;
	margin-bottom :10px;
}

#my-content ul {}
#my-content ul li {position:relative; display: inline-block; margin-left: 30px; font-family: 'Noto Sans';}
#my-content ul li a {}
#my-content ul li:first-child:after {
	content : '';
	position:absolute;
	top:-33px; left:13px;
	background: url("../img/icon/mypage.png"); 
	background-position: 0 0; 
	width: 30px; height: 30px; background-size: 30px 30px;
	
}

#my-content ul li:nth-child(2):after {
	content : '';
	position:absolute;
	top:-33px; left:9px;
	background: url("../img/icon/shopping-cart.png"); 
	background-position: 0 0; 
	width: 30px; height: 30px; background-size: 30px 30px;
}

#my-content ul li:nth-child(3):after {
	content : '';
	position:absolute;
	top:-33px; left:9px;
	background: url("../img/icon/star.png"); 
	background-position: 0 0; 
	width: 30px; height: 30px;
	background-size: 30px 30px;
}

/* 유저 메뉴*/
#userMenu-wrap {
	height: 40px;
	background: #fafafa;
}

#userMenu {
	
	width: 1050px;
	margin: 0 auto;
}

#userMenu * {
	font-family: noto sans;
	font-weight: 400;
	letter-spacing: -.3px
}

#userMenu:after {
	content: "";
	display: block;
	overflow: hidden;
	width: 100%;
	height: 0;
	font-size: 0;
	text-indent: -9999px
}

#userMenu .list_menu {float: right; display: inline-block; margin-top: 12px;}
#userMenu .menu {display: inline-block; padding: 0 10px; border-right: 1px solid #ddd;}
#userMenu .menu:last-child {border : none;}

#gnb.gnb_stop {
	position: fixed;
	z-index: 300;
	left: 0;
	top: 0;
	width: 100%
}

#gnb .gnb_kurly {
	position: relative;
	z-index: 300;
	min-width: 1050px;
	background-color: #fff;
	font-family: 'Noto Sans';
	letter-spacing: -0.3px
}

#gnb .gnb_kurly:after {
	content: "";
	position: absolute;
	z-index: 299;
	left: 0;
	top: 56px;
	width: 100%;
	height: 9px;
	background: url(https://res.kurly.com/pc/service/common/1902/bg_1x9.png)
		repeat-x 0 100%
}

#gnb .inner_gnbkurly {
	position: relative;
	width: 1050px;
	height: 56px;
	margin: 0 auto
}

/* #gnb .gnb_search {
	position: absolute;
	right: 45px;
	top: 10px;
	width: 238px
} */


/* ��ٱ��� */
#gnb .cart_count {
	position: absolute;
	right: -6px;
	top: 10px
}

#gnb .cart_count .inner_cartcount {
	text-align: center;
	font-weight: 400
}

#gnb .cart_count .num {
	display: none;
	position: absolute;
	left: 19px;
	top: -1px;
	min-width: 20px;
	height: 20px;
	padding: 0 5px;
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: #5f0080;
	font-size: 9px;
	color: #fff;
	line-height: 15px;
	text-align: center;
	white-space: nowrap
}

#gnb .cart_count img {
	display: block;
	width: 36px;
	height: 36px;
	margin: 0 auto
}

#gnb .cart_count .msg_cart {
	display: none;
	position: absolute;
	right: -7px;
	top: 61px;
	width: 348px;
	height: 102px;
	border: 1px solid #ddd;
	background-color: #fff;
	opacity: 0
}

#gnb .cart_count .inner_msgcart {
	display: block;
	overflow: hidden;
	padding: 20px 0 0 20px
}

#gnb .cart_count .msg_cart .thumb {
	float: left;
	width: 46px;
	height: 60px
}

#gnb .cart_count .msg_cart .desc {
	float: left;
	width: 240px;
	padding: 8px 0 0 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px
}

#gnb .cart_count .msg_cart .tit {
	display: block;
	overflow: hidden;
	width: 100%;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis
}

#gnb .cart_count .msg_cart .name {
	overflow: hidden;
	float: left;
	max-width: 178px;
	text-overflow: ellipsis
}

#gnb .cart_count .msg_cart .txt {
	display: block;
	padding-top: 3px;
	color: #333
}

#gnb .cart_count .msg_cart .point {
	position: absolute;
	right: 13px;
	top: -14px;
	width: 20px;
	height: 14px;
	background: url(https://res.kurly.com/pc/ico/1903/ico_layer_point.png)
		no-repeat 0 0
}
/* GNB���� */
#gnb .gnb_main {
	overflow: hidden;
	width: 1050px;
	margin: 0 auto
}

#gnb .gnb_main .gnb {
	float: left;
	width: 100%
}

#gnb .gnb_main .gnb li {
	float: left;
	background:
		url(https://res.kurly.com/pc/service/common/1902/line_1x11_c_ccc.png)
		no-repeat 100% 23px
}

#gnb .gnb_main .gnb .lst {
	background: none
}

#gnb .gnb_main .gnb a {
	overflow: hidden;
	float: left;
	height: 55px;
	padding: 16px 50px 0 48px;
	font-size: 16px;
	color: #333;
	line-height: 20px
}

#gnb .gnb_main .gnb a .txt {
	font-weight: 700
}

#gnb .gnb_main .gnb a:hover, #gnb .gnb_main .gnb a.on {
	font-weight: 700;
	color: #5f0080
}

#gnb .gnb_main .gnb a:hover .txt {
	border-bottom: 1px solid #5f0080
}

#gnb .gnb_main .menu1 a {
	padding-left: 19px
}

#gnb .gnb_main .menu1 .ico {
	float: left;
	width: 16px;
	height: 14px;
	margin: 4px 14px 0 0;
	background:
		url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off.png)
		no-repeat
}

#gnb .gnb_main .menu1 a.on .ico, #gnb .gnb_main .menu1 a:hover .ico {
	background:
		url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all.png)
		no-repeat 0 0
}

#gnb .gnb_main .menu1 a.on .txt, #gnb .gnb_main .menu1 a:hover .txt,
	#gnb .gnb_main .menu1 .txt {
	float: left;
	font-weight: 700;
	border-bottom: 0
}
/* GNB���� */
#gnb .gnb_sub {
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 301;
	left: 0;
	top: 55px;
	width: 213px;
	padding-top: 1px
}

#gnb .gnb_sub .inner_sub {
	width: 100%;
	border: 1px solid #ddd;
	background:
		url(https://res.kurly.com/pc/service/common/1908/bg_gnb_sub_v3.png)
		repeat-y 0 0
}

#gnb .size_over {
	overflow-x: hidden;
	overflow-y: auto
}

#gnb .gnb_sub .gnb_menu {
	width: 219px
}

#gnb .gnb_sub .gnb_menu li {
	width: 100%;
	text-align: left
}

#gnb .gnb_sub .gnb_menu li:first-child {
	padding-top: 0
}

#gnb .gnb_sub .menu {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 40px;
	padding: 8px 0 0 14px;
	cursor: pointer
}

#gnb .gnb_sub .gnb_menu li:first-child .menu {
	height: 39px;
	padding-top: 7px
}

#gnb .gnb_sub .current .menu {
	background: #f7f7f7
}

#gnb .gnb_sub .current .txt, #gnb .gnb_sub .menu.on.off:hover .txt, #gnb .gnb_sub .menu.on .txt
	{
	font-weight: 700;
	color: #5f0080
}

#gnb .gnb_sub .ico {
	float: left;
	width: 24px;
	height: 24px
}

#gnb .gnb_sub .ico img {
	width: 24px;
	height: 24px
}

#gnb .gnb_sub .ico .ico_off {
	display: block
}

#gnb .gnb_sub .ico .ico_on {
	display: none
}

#gnb .gnb_sub .current .ico_off, #gnb .gnb_sub .menu.on .ico_off, #gnb .gnb_sub .menu:hover .ico_off
	{
	display: none
}

#gnb .gnb_sub .current .ico_on, #gnb .gnb_sub .menu.on .ico_on, #gnb .gnb_sub .menu:hover .ico_on
	{
	display: block
}

#gnb .gnb_sub .ico_arrow {
	display: none;
	float: right;
	width: 16px;
	height: 17px;
	padding: 6px 9px 0 0
}

#gnb .gnb_sub .ico_arrow img {
	width: 7px;
	height: 11px
}

#gnb .gnb_sub .current .ico_arrow {
	display: block
}

#gnb .gnb_sub .txt {
	float: left;
	padding: 0 4px 0 10px;
	font-weight: 400;
	font-size: 14px;
	color: #333;
	line-height: 22px;
	white-space: nowrap
}

#gnb .gnb_sub .ico_new {
	overflow: hidden;
	float: left;
	width: 14px;
	height: 14px;
	margin-top: 5px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px
}

#gnb .gnb_sub .sub_menu {
	position: absolute;
	z-index: 0;
	left: 200px;
	top: 0;
	width: 248px;
	height: 100%;
	padding: 0 0 0 20px;
	background: url(https://res.kurly.com/images/common/bg_1_1.gif) repeat 0
		0;
	opacity: 0;
	transition: opacity 0.2s
}

#gnb .gnb_sub .current .sub_menu {
	z-index: 1;
	opacity: 1;
	transition: opacity 0.5s
}

#gnb .gnb_sub .sub_menu li:first-child {
	padding-top: 11px
}

#gnb .gnb_sub .sub_menu .sub {
	display: block;
	overflow: hidden;
	height: 40px;
	padding-left: 20px;
	font-size: 14px;
	color: #333;
	line-height: 18px;
	cursor: pointer
}

#gnb .gnb_sub .sub_menu .sub:hover .name {
	border-bottom: 1px solid #5f0080;
	font-weight: 700;
	color: #5f0080
}

#gnb .gnb_sub .sub_menu .sub.on {
	font-weight: 700;
	color: #5f0080
}

#gnb .gnb_sub .recommend {
	overflow: hidden;
	width: 529px;
	padding: 21px 0 0 40px
}

#gnb .gnb_sub .recommend li {
	float: left;
	width: 120px;
	height: 130px;
	padding: 0 10px 0 0
}

#gnb .gnb_sub .recommend li:first-child {
	padding-top: 0
}

#gnb .gnb_sub .recommend .sub {
	display: block;
	overflow: hidden;
	width: 120px;
	height: 130px;
	padding: 0;
	cursor: pointer
}

#gnb .gnb_sub .recommend .thumb {
	display: block;
	width: 110px;
	height: 83.4px;
	margin-bottom: 8px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover
}

#gnb .gnb_sub .recommend .thumb img {
	width: 110px;
	height: 84px
}

#gnb .gnb_sub .recommend .name {
	font-size: 14px;
	line-height: 18px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and
		(min-device-pixel-ratio: 1.5) , only screen and (min-resolution:
	1.5dppx) {
	#gnb .gnb_sub .ico_new {
		background: url(https://res.kurly.com/pc/ico/1808/ico_new_gnb_16x16.png)
			no-repeat 0 0;
		background-size: 8px 8px
	}
	#gnb .cart_count .msg_cart .point {
		background:
			url(https://res.kurly.com/pc/ico/1903/ico_layer_point_x2.png)
			no-repeat 0 0;
		background-size: 20px 14px
	}
	#gnb .gnb_main .menu1 .ico {
		background:
			url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off_x2.png)
			no-repeat 0 0;
		background-size: 16px 14px
	}
	#gnb .gnb_main .menu1 a.on .ico, #gnb .gnb_main .menu1 a:hover .ico {
		background:
			url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_x2.png)
			no-repeat 0 0;
		background-size: 16px 14px
	}
}