@charset "UTF-8";

#headerLogo {

	position: relative;
	width: 1050px;
	height: 83px;
	margin: 0 auto
}

#headerLogo .bnr_delivery {
	position: absolute;
	left: 17px;
	top: -28px;
	margin: auto;
	height: 22px
}

#headerLogo .bnr_delivery img {
	width: 163px;
	height: 22px
}

#headerLogo .logo {
	position: absolute;
	left: 15%;
	bottom: 6px;
	width: 200px;
	height: 70px;
	margin-left: -100px
}

#headerLogo .logo img {
	display: block;
	width: 103px;
	height: 70px;
	margin: 0 auto
}

#headerLogo .logo #gnbLogoContainer {
	margin: 0 auto
}

.blank {
	height: 10px;
}

/* 입력바 */
.gnb_search {
	
	position: absolute;
	position :relative;
	left:30%;
	top:30px;;

	width: 400px;
	height: 10px;
	
}

.gnb_search .inp_search {
	width: 400px;
	height: 36px;
	
	
	border-radius: 18px;
	border : 1px solid black;
	background-color: #fff;
	font-family: 'Noto Sans';
	font-weight: 400;
	font-size: 12px;
	color: #666;
	line-height: 16px;
	outline: none
}

.gnb_search .inp_search.focus {
	background-color: #fff;
	color: #333
}

.gnb_search .btn_search {
	position: absolute;
	right: 10px;
	top: 3px;
	width: 30px;
	height: 30px
} 

/* 장바구니, 마이페이지 */
#my-content {
	position: absolute;
	left: 76%;
	bottom: 0;
	width: 300px;
	margin-bottom :10px;
}

#my-content ul {}
#my-content ul li {position:relative; display: inline-block; margin-left: 30px; font-family: 'Noto Sans';}
#my-content ul li a {}
#my-content ul li:first-child:after {
	content : '';
	position:absolute;
	top:-33px; left:13px;
	background: url("../img/icon/mypage.png"); 
	background-position: 0 0; 
	width: 30px; height: 30px; background-size: 30px 30px;
	
}

#my-content ul li:nth-child(2):after {
	content : '';
	position:absolute;
	top:-33px; left:9px;
	background: url("../img/icon/shopping-cart.png"); 
	background-position: 0 0; 
	width: 30px; height: 30px; background-size: 30px 30px;
}

#my-content ul li:nth-child(3):after {
	content : '';
	position:absolute;
	top:-33px; left:9px;
	background: url("../img/icon/star.png"); 
	background-position: 0 0; 
	width: 30px; height: 30px;
	background-size: 30px 30px;
}

/* 유저 메뉴*/
#userMenu-wrap {
	height: 40px;
	background: #fafafa;
}

#userMenu {
	
	width: 1050px;
	margin: 0 auto;
}

#userMenu * {
	font-family: noto sans;
	font-weight: 400;
	letter-spacing: -.3px
}

#userMenu:after {
	content: "";
	display: block;
	overflow: hidden;
	width: 100%;
	height: 0;
	font-size: 0;
	text-indent: -9999px
}

#userMenu .list_menu {float: right; display: inline-block; margin-top: 12px;}
#userMenu .menu {display: inline-block; margin-left: 10px;}
#userMenu .menu a {display: inline-block; width: 100%; padding-right: 10px;border-right: 1px solid #ccc;}
.menu-last a {border: none;}

#gnb.gnb_stop {
	position: fixed;
	z-index: 300;
	left: 0;
	top: 0;
	width: 100%
}

#gnb .gnb_kurly {
	position: relative;
	z-index: 300;
	min-width: 1050px;
	background-color: #fff;
	font-family: 'Noto Sans';
	letter-spacing: -0.3px
}

#gnb .gnb_kurly:after {
	content: "";
	position: absolute;
	z-index: 299;
	left: 0;
	top: 56px;
	width: 100%;
	height: 9px;
	background: url(https://res.kurly.com/pc/service/common/1902/bg_1x9.png)
		repeat-x 0 100%
}

#gnb .inner_gnbkurly {
	position: relative;
	width: 1050px;
	height: 56px;
	margin: 0 auto
}

/* #gnb .gnb_search {
	position: absolute;
	right: 45px;
	top: 10px;
	width: 238px
} */


/* ��ٱ��� */
#gnb .cart_count {
	position: absolute;
	right: -6px;
	top: 10px
}

#gnb .cart_count .inner_cartcount {
	text-align: center;
	font-weight: 400
}

#gnb .cart_count .num {
	display: none;
	position: absolute;
	left: 19px;
	top: -1px;
	min-width: 20px;
	height: 20px;
	padding: 0 5px;
	border: 2px solid #fff;
	border-radius: 10px;
	background-color: #5f0080;
	font-size: 9px;
	color: #fff;
	line-height: 15px;
	text-align: center;
	white-space: nowrap
}

#gnb .cart_count img {
	display: block;
	width: 36px;
	height: 36px;
	margin: 0 auto
}

#gnb .cart_count .msg_cart {
	display: none;
	position: absolute;
	right: -7px;
	top: 61px;
	width: 348px;
	height: 102px;
	border: 1px solid #ddd;
	background-color: #fff;
	opacity: 0
}

#gnb .cart_count .inner_msgcart {
	display: block;
	overflow: hidden;
	padding: 20px 0 0 20px
}

#gnb .cart_count .msg_cart .thumb {
	float: left;
	width: 46px;
	height: 60px
}

#gnb .cart_count .msg_cart .desc {
	float: left;
	width: 240px;
	padding: 8px 0 0 20px;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px
}

#gnb .cart_count .msg_cart .tit {
	display: block;
	overflow: hidden;
	width: 100%;
	color: #999;
	white-space: nowrap;
	text-overflow: ellipsis
}

#gnb .cart_count .msg_cart .name {
	overflow: hidden;
	float: left;
	max-width: 178px;
	text-overflow: ellipsis
}

#gnb .cart_count .msg_cart .txt {
	display: block;
	padding-top: 3px;
	color: #333
}

#gnb .cart_count .msg_cart .point {
	position: absolute;
	right: 13px;
	top: -14px;
	width: 20px;
	height: 14px;
	background: url(https://res.kurly.com/pc/ico/1903/ico_layer_point.png)
		no-repeat 0 0
}
/* GNB���� */
#gnb .gnb_main {
	overflow: hidden;
	width: 1050px;
	margin: 0 auto
}

#gnb .gnb_main .gnb {
	float: left;
	width: 100%
}

#gnb .gnb_main .gnb li {
	float: left;
	background:
		url(https://res.kurly.com/pc/service/common/1902/line_1x11_c_ccc.png)
		no-repeat 100% 23px
}

#gnb .gnb_main .gnb .lst {
	background: none
}

#gnb .gnb_main .gnb a {
	overflow: hidden;
	float: left;
	height: 55px;
	padding: 16px 50px 0 48px;
	font-size: 16px;
	color: #333;
	line-height: 20px
}

#gnb .gnb_main .gnb a .txt {
	font-weight: 700
}

#gnb .gnb_main .gnb a:hover, #gnb .gnb_main .gnb a.on {
	font-weight: 700;
	color: #66cdaa 
}

#gnb .gnb_main .gnb a:hover .txt {
	border-bottom: 1px solid #66cdaa 
}

#gnb .gnb_main .menu1 a {
	padding-left: 19px
}

#gnb .gnb_main .menu1 .ico {
	float: left;
	width: 16px;
	height: 14px;
	margin: 4px 14px 0 0;
	background:
		url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off.png)
		no-repeat
}

#gnb .gnb_main .menu1 a.on .ico, #gnb .gnb_main .menu1 a:hover .ico {
	background:
		url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all.png)
		no-repeat 0 0
}

#gnb .gnb_main .menu1 a.on .txt, #gnb .gnb_main .menu1 a:hover .txt,
	#gnb .gnb_main .menu1 .txt {
	float: left;
	font-weight: 700;
	border-bottom: 0
}
/* GNB���� */
#gnb .gnb_sub {
	display: none;
	overflow: hidden;
	position: absolute;
	z-index: 301;
	left: 0;
	top: 56px;
	width: 400px;
	padding-top: 1px;
	background-color: #fff;
	text-align: left;
	border: 1px solid #ddd;
	
}

#gnb .gnb_sub .inner_sub {
	width: 100%;
	
	/* background:
		url(https://res.kurly.com/pc/service/common/1908/bg_gnb_sub_v3.png)
		repeat-y 0 0; */
	background-color: #fff;
}

#gnb .size_over {
	overflow-x: hidden;
	overflow-y: auto
}

#gnb .gnb_sub .gnb_menu {
	
}

#gnb .gnb_sub .gnb_menu .gnb_menu_col {
	display : inline-block;
	width: 150px;
	float: left; margin: 0 10px;
}

#gnb .gnb_sub .gnb_menu .gnb_menu_col h2 {
	padding: 20px 10px 10px 10px;
	border-bottom: 1px solid #ddd;
}


#gnb .gnb_sub .gnb_menu li {
	width: 100%;
	
}

#gnb .gnb_sub .gnb_menu li:first-child {
	padding-top: 10px;
}

#gnb .gnb_sub .gnb_menu li {
	margin: 0;
}

#gnb .gnb_sub .menu {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 40px;
	padding: 8px 0 0 14px;
	cursor: pointer
}

#gnb .gnb_sub .gnb_menu li:first-child .menu {
	height: 39px;
	padding-top: 7px
}

#gnb .gnb_sub .current .menu {
	background: #f7f7f7
}

#gnb .gnb_sub .current .txt, #gnb .gnb_sub .menu.on.off:hover .txt, #gnb .gnb_sub .menu.on .txt
	{
	font-weight: 700;
	color: #5f0080
}

#gnb .gnb_sub .ico {
	float: left;
	width: 24px;
	height: 24px
}

#gnb .gnb_sub .ico img {
	width: 24px;
	height: 24px
}

#gnb .gnb_sub .ico .ico_off {
	display: block
}

#gnb .gnb_sub .ico .ico_on {
	display: none
}

#gnb .gnb_sub .current .ico_off, #gnb .gnb_sub .menu.on .ico_off, #gnb .gnb_sub .menu:hover .ico_off
	{
	display: none
}

#gnb .gnb_sub .current .ico_on, #gnb .gnb_sub .menu.on .ico_on, #gnb .gnb_sub .menu:hover .ico_on
	{
	display: block
}

#gnb .gnb_sub .ico_arrow {
	display: none;
	float: right;
	width: 16px;
	height: 17px;
	padding: 6px 9px 0 0
}

#gnb .gnb_sub .ico_arrow img {
	width: 7px;
	height: 11px
}

#gnb .gnb_sub .current .ico_arrow {
	display: block
}

#gnb .gnb_sub .txt {
	float: left;
	padding: 0 4px 0 10px;
	font-weight: 400;
	font-size: 14px;
	color: #333;
	line-height: 22px;
	white-space: nowrap
}

#gnb .gnb_sub .ico_new {
	overflow: hidden;
	float: left;
	width: 14px;
	height: 14px;
	margin-top: 5px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: 14px 14px;
	font-size: 0;
	line-height: 0;
	text-indent: -9999px
}

#gnb .gnb_sub .sub_menu {
	position: absolute;
	z-index: 0;
	left: 200px;
	top: 0;
	width: 248px;
	height: 100%;
	padding: 0 0 0 20px;
	background: url(https://res.kurly.com/images/common/bg_1_1.gif) repeat 0
		0;
	opacity: 0;
	transition: opacity 0.2s
}

#gnb .gnb_sub .current .sub_menu {
	z-index: 1;
	opacity: 1;
	transition: opacity 0.5s
}

#gnb .gnb_sub .sub_menu li:first-child {
	padding-top: 11px
}

#gnb .gnb_sub .sub_menu .sub {
	display: block;
	overflow: hidden;
	height: 40px;
	padding-left: 20px;
	font-size: 14px;
	color: #333;
	line-height: 18px;
	cursor: pointer
}

#gnb .gnb_sub .sub_menu .sub:hover .name {
	border-bottom: 1px solid #5f0080;
	font-weight: 700;
	color: #5f0080
}

#gnb .gnb_sub .sub_menu .sub.on {
	font-weight: 700;
	color: #5f0080
}

#gnb .gnb_sub .recommend {
	overflow: hidden;
	width: 529px;
	padding: 21px 0 0 40px
}

#gnb .gnb_sub .recommend li {
	float: left;
	width: 120px;
	height: 130px;
	padding: 0 10px 0 0
}

#gnb .gnb_sub .recommend li:first-child {
	padding-top: 0
}

#gnb .gnb_sub .recommend .sub {
	display: block;
	overflow: hidden;
	width: 120px;
	height: 130px;
	padding: 0;
	cursor: pointer
}

#gnb .gnb_sub .recommend .thumb {
	display: block;
	width: 110px;
	height: 83.4px;
	margin-bottom: 8px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover
}

#gnb .gnb_sub .recommend .thumb img {
	width: 110px;
	height: 84px
}

#gnb .gnb_sub .recommend .name {
	font-size: 14px;
	line-height: 18px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) , only screen and
		(min-device-pixel-ratio: 1.5) , only screen and (min-resolution:
	1.5dppx) {
	#gnb .gnb_sub .ico_new {
		background: url(https://res.kurly.com/pc/ico/1808/ico_new_gnb_16x16.png)
			no-repeat 0 0;
		background-size: 8px 8px
	}
	#gnb .cart_count .msg_cart .point {
		background:
			url(https://res.kurly.com/pc/ico/1903/ico_layer_point_x2.png)
			no-repeat 0 0;
		background-size: 20px 14px
	}
	#gnb .gnb_main .menu1 .ico {
		background:
			url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_off_x2.png)
			no-repeat 0 0;
		background-size: 16px 14px
	}
	#gnb .gnb_main .menu1 a.on .ico, #gnb .gnb_main .menu1 a:hover .ico {
		background:
			url(https://res.kurly.com/pc/service/common/1908/ico_gnb_all_x2.png)
			no-repeat 0 0;
		background-size: 16px 14px
	}
}

/*  여기서부터는 주문서  */


	#gnb.gnb_stop{position:static}
	/* 기존에 있던 style */
	/* 쿠폰적용 */
	.order-disc-tbl.coupon_area > tbody > tr > th {position:relative; padding:0; text-align:left}
	.order-disc-tbl.coupon_area > tbody > tr > th:after {content:":"; display:inline-block; position:absolute; top:0; right:26px; vertical-align:middle}
	.order-disc-tbl.coupon_area > tbody > tr > td {padding:0}
	.order-disc-tbl.coupon_area {margin:10px 0 8px 0}
	.order-disc-tbl.coupon_area td input[type="text"]{vertical-align:middle}
	.coupon_search{overflow:hidden;width:100%}
	.coupon_search .btn_coupon{float:left;margin-right:8px}
	/* 개인정보수집및제공 */
	.reg_agree .check .inp_check{display:block;overflow:hidden;padding:0 5px 4px}
	.reg_agree .inp_check input{float:left;margin:4px 0 0}
	.reg_agree .inp_check .txt_checkbox{float:left;padding-left:4px;font-size:12px;color:#202020}
	.reg_agree .desc{overflow:auto;height:110px;padding:20px;margin-bottom:10px;background-color:#fff;border:1px solid #bfbfbf;line-height:20px}

	/* 주문서_공통 */
	.user_form *{font-family: 'Noto Sans';font-weight:400;color:#000;letter-spacing:-0.3px}
	.user_form .bhs_button.action{color:#fff}
	.user_form .bhs_button.action:hover{background-color:#56297a}
	.user_form .bhs_button.yb2{color:#795b8f}
	.user_form .bhs_button.yb2:hover{background-color:#56297a;color:#fff}
	#popselboxView,
	.user_form input[type="text"]{height:33px;padding:0 8px;border:1px solid #ddd;background-color:#fff;font-size:12px;line-height:33px;color:#000;letter-spacing:-0.2px;vertical-align:top}
	.user_form input[type="radio"],
	.user_form input[type="checkbox"]{position:relative;z-index:-1;vertical-align:0}
	.user_form .bar{display:inline-block;position:relative;width:13px;height:33px;vertical-align:top}
	.user_form .bar span{position:absolute;left:3px;top:17px;width:8px;height:1px;background-color:#d8d8d8}
	.user_form .txt_guide .txt{display:block;font-size:12px;line-height:21px;color:#514859}
	/* 공통_라디오버튼 */
	.user_form .label_radio{display:inline-block;padding:0 18px 0 6px;background:#fff url(https://res.kurly.com/pc/service/order/1908/ico_radio_off.png) no-repeat 0 1px;font-size:14px;color:#000;line-height:18px;cursor:pointer;white-space:nowrap}
	.user_form .label_radio.checked{background:#fff url(https://res.kurly.com/pc/service/order/1908/ico_radio_on.png) no-repeat 0 1px}
	.user_form .label_radio.disabled{background:#fff url(https://res.kurly.com/pc/service/order/1908/ico_radio_disabled.png) no-repeat 0 1px}
	.user_form .label_radio .info{display:none;color:#666;font-size:12px;line-height:18px;width:543px;margin:11px 0 0 16px;white-space:normal}
	.user_form .label_radio .bubble{margin-left:7px}
	.user_form .label_radio.checked .info{
		display: block;
	}
	@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
		.user_form .label_radio{background:#fff url(https://res.kurly.com/pc/service/order/1908/ico_radio_off_x2.png) no-repeat 0 1px;background-size:16px 17px}
		.user_form .label_radio.checked{background:#fff url(https://res.kurly.com/pc/service/order/1908/ico_radio_on_x2.png) no-repeat 0 1px;background-size:16px 17px}
		.user_form .label_radio.disabled{background:#fff url(https://res.kurly.com/pc/service/order/1908/ico_radio_disabled_x2.png) no-repeat 0 1px;background-size:16px 17px}
	}
	/* 공통_테이블 */
	.goodsinfo_table{border-top:1px solid #333;border-bottom:1px solid #ddd}
	.goodsinfo_table th{width:190px;padding:22px 0 0 20px;font-size:14px;font-family:'Noto Sans';font-weight:700;vertical-align:top}
	.goodsinfo_table .fst th{padding-top:26px}
	.goodsinfo_table td{position:relative;padding:16px 0 0 0;vertical-align:top}
	.goodsinfo_table .fst td{padding-top:20px}

	/* 레이어타입_리스트타입 */
	.layer_typelist{display:none;position:absolute;left:0;top:32px;width:600px;background-color:#fff;border:1px solid #949296}
	.layer_typelist li{padding:9px 30px 9px 37px;border-top:1px solid #949296;font-size:12px;line-height:18px;letter-spacing:-0.2px}
	.layer_typelist li.fst{border-top:0 none}
	.layer_typelist li.checked{background:url(https://res.kurly.com/pc/service/order/1908/ico_check_16x10.png) no-repeat 10px 16px}
	.layer_typelist li:hover{background-color:#fafafa;cursor:pointer}
	.layer_typelist span{display:none}
	.layer_coupon{display:none;position:absolute;z-index:1;left:8px;top:54px;width:546px;background-color:#fff;border:1px solid #949296}
	.layer_coupon li{padding:14px 30px 14px 37px;border-top:1px solid #949296;font-size:12px;line-height:18px;letter-spacing:-0.2px}
	.layer_coupon li.fst{border-top:0 none}
	.layer_coupon li.checked{background:url(https://res.kurly.com/pc/service/order/1908/ico_check_16x10.png) no-repeat 10px 16px}
	.layer_coupon li:hover{background-color:#fafafa;cursor:pointer}
	@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
		.layer_typelist li.checked{background:url(https://res.kurly.com/pc/service/order/1908/ico_check_32x20.png) no-repeat 10px 16px;background-size:16px 10px}
		.layer_coupon li.checked{background:url(https://res.kurly.com/pc/service/order/1908/ico_check_32x20.png) no-repeat 10px 16px;background-size:16px 10px}
	}

	/* 주문자정보 */
	.data_orderer{border-bottom:1px solid #ddd}
	.data_orderer .txt_guide{padding:13px 0 19px}
	.data_orderer .goodsinfo_table.tbl_readonly th{padding-top:10px}
	.data_orderer .goodsinfo_table.tbl_readonly .fst th{padding-top:26px}
	.data_orderer .goodsinfo_table.tbl_readonly td{padding-top:4px}
	.data_orderer .goodsinfo_table.tbl_readonly .fst td{padding-top:20px}
	.data_orderer input[type="text"].read_only{padding:0;border:0 none;font-size:14px}

	/* 결제금액 */
	.data_payment{float:left}
	.data_payment .goodsinfo_table{border-bottom:0 none}
	.data_payment th.coupon_set{width:180px;padding-top:22px}
	.data_payment td.coupon_set{padding-top:22px}
	.data_payment .txt_couponinfo{padding:4px 0 0 1px;color:#f00}
	.data_payment .coupon_search .btn_inquire{float:left;padding:12px 0 0 6px}
	.tbl_left{float:left;width:742px}

	/* 결제수단 */
	.data_method{clear:both}
	.data_method .goodsinfo_table td{padding-top:23px}
	.data_method .goodsinfo_table .txt_notice{padding:42px 0 0 16px}
	.data_method td img{vertical-align:middle}
	.data_method .txt_notice{padding-left:20px;color:#4c4c4c}
	.data_method .tbl_nogoods{border-top:0 none;border-bottom:0 none}
	.data_method input[type="radio"]{margin-right:3px}

	/* 주문서 & 쿠폰 */
	#addpopSelList .txt_apr,#addpopSelList .txt_is_dc{display:inline-block;font-weight:700;font-size:14px;line-height:1.43px;color:#000}
	#addpopSelList .txt_apr.coupon_na,#addpopSelList .txt_is_dc.coupon_na,#addpopSelList .txt_tit.coupon_na,#addpopSelList .txt_desc.coupon_na,#addpopSelList .txt_expire.coupon_na{color:#777}
	#addpopSelList .inner_item{display:table;font-size:14px}
	#addpopSelList .item_row{display:table-row}
	#addpopSelList .item_td.left{display:table-cell;width:110px}
	#addpopSelList .item_td{display:table-cell}
	#addpopSelList .txt_tit{padding-bottom:6px;font-weight:700}
	#addpopSelList .txt_desc,#addpopSelList .txt_expire{font-size:12px}
	#addpopSelList span{display:block}
	#addpopSelList .inner_item .disabled{color:#777}
	.coupon_set .txt_ques a{display:inline-block;margin:5px 0;font-size:12px;color:#795b8f}

	.order-disc-tbl.coupon_area .emoney_td_l{width:188px}
	.order-disc-tbl.coupon_area .emoney_td_l input[type="text"]{width:162px;margin-bottom:4px;border:1px solid #ddd}
	.order-disc-tbl.coupon_area .emoney_td_r{padding:6px;font-size:12px}
	.order-disc-tbl.coupon_area .emoney_noti{padding-top:10px}
	.order-disc-tbl.coupon_area .emoney_noti .txt{display:block;padding-top:4px;font-size:12px;color:#514859;line-height:18px;letter-spacing:-0.2px}
	.order-disc-tbl.coupon_area .no_emoney{padding-top: 4px}
	.emoney_chkbox .txt_checkbox{font-size:12px}
	#emoney{text-align:right;line-height:0}
	#memberdc{display: inline-block}
	.goodsinfo_table .txt_notice li{color:#514859}
	.goodsinfo_table .txt_notice li a{color:#5f0080}
	#popselboxView{display:none;width:100%;margin-bottom:4px;background:url(https://res.kurly.com/pc/service/order/1711/ico_selectbox_arrow_10x6.png) no-repeat 525px 50%;cursor:pointer}
	#popselboxView.no_bg{background:none;cursor:default}
	.pm_sign{display:none;margin-right:4px}

	/* 2018-06-19 개인정보처리방침 추가시작 */
	.user_form .txt_guide .txt .txt_desc{font-weight:500}
	.user_form .bhs_button.btn_payment{width:200px;height:48px;background-color:#5f0080}
	.user_form .bhs_button.action:hover.btn_payment{background-color:#401661}
	.user_form .goodsinfo_table{border-bottom:0 none}
	.user_form .goodsinfo_table .check:after{content:"";display:block;clear:both}
	.user_form .goodsinfo_table .check .inp_check{float:left;padding:0 5px 6px}
	.user_form .reg_agree{position:static}
	.user_form .reg_agree .inp_check .txt_checkbox{padding-left:6px;font-size:14px;color:#000;line-height:18px;letter-spacing:0}
	.user_form .goodsinfo_table .reg_agree{padding:16px 20px 8px}
	.user_form .link_terms{float:left;color: #5f0080}
	/* 팝업 */
	.user_form .goodsinfo_table .inner_layer{position:relative;width:100%;padding: 0 0 30px 0;border-radius: 6px;box-shadow:none}
	.user_form .goodsinfo_table .inner_layer .tit_layer,
	.user_form .goodsinfo_table .inner_layer button{display:none}
	.user_form .goodsinfo_table .layer{position: relative;z-index: 9999}
	.user_form .goodsinfo_table .layer .choice_agree{position: fixed;left: 50%;top: 50%;width: 440px;margin:0 0 0 -220px;border-radius: 6px;background-color: #fff}
	/*.user_form .goodsinfo_table .layer .view_terms{height:500px}*/
	/*.user_form .goodsinfo_table .layer .view_pg{height:512px}*/
	.user_form .goodsinfo_table .layer .view_pg .box_tbl{height: 272px}
	.user_form .goodsinfo_table .layer .tit_layer{display:block;height:132px;font-size:30px;font-weight: 700;padding:30px 88px 0 30px;line-height:40px;color:#333}
	.user_form .goodsinfo_table .layer .box_tbl{overflow:hidden;overflow-y:auto;padding: 0 30px;color:#333}
	.user_form .goodsinfo_table .layer button{display:block}
	.user_form .goodsinfo_table .layer .box_tbl th{padding:5px;background-color: #f7f5f8;border:1px solid #dddfe1;text-align: center}
	.user_form .goodsinfo_table .layer .box_tbl thead th{border-bottom:0 none;vertical-align:middle}
	.user_form .goodsinfo_table .layer .box_tbl td{padding:5px}
	.user_form .goodsinfo_table .layer .txt_service{color:#333;padding:0 30px}
	.user_form .goodsinfo_table .layer .btn_ok{display: block;width:380px;height:54px;margin:30px auto 0;border: 0 none;background-color:#5f0080;font-size: 16px;color: #fff;line-height: 32px;letter-spacing: -0.3px;border-radius:3px}
	.user_form .goodsinfo_table .layer .btn_close{position: absolute;right:26px;top:36px;width: 32px;height: 32px;border: 0 none;background: url(https://res.kurly.com/pc/ico/1908/ico_layer_close.png) no-repeat 0 0}
	.user_form .goodsinfo_table .list_agree{overflow:hidden;width:100%;clear:both}
	.user_form .goodsinfo_table .list_agree li{padding-top:1px}
	.user_form .goodsinfo_table .list_agree .subject{padding:0 10px 0 24px;font-size:12px;color:#000;line-height:16px;letter-spacing:0}
	.user_form .goodsinfo_table .list_agree .subject .emph{color:#949296}
	.user_form .goodsinfo_table .list_agree .link_terms{float:none;padding-right:11px;background:url(https://res.kurly.com/pc/service/order/1906/ico_arrow_6x9.png) no-repeat 100% 50%}
	.user_form .goodsinfo_table .terms_view{margin-top:20px;font-size:14px;color:#514859;line-height:20px}
	.user_form .goodsinfo_table .terms_view .tit_main{font-weight:700;font-size:18px}
	.user_form .goodsinfo_table .terms_view .tit_sub{display:block;padding:20px 0 10px}
	.user_form .goodsinfo_table .terms_view .normal{font-weight:normal}
	.user_form .goodsinfo_table .terms_view:last-child .tit_sub{font-weight:normal}
	.user_form .goodsinfo_table .terms_view:last-child .tit_sub.emph{font-weight:bold}
	/* 2018-06-19 개인정보처리방침 추가끝 */

	/* 신용카드카드선택 */
	.data_method .card_detail td{padding-top:11px}
	#cardSelect .card_select:after{content:"";display:block;overflow:hidden;height:0;clear:both}
	#cardSelect .select_box{position:relative;float:left;width:200px}
	#cardSelect .select_box .tit{display:block;overflow:hidden;width:190px;height:34px;padding:0 30px 0 9px;border:1px solid #514859;background:#fff  url(https://res.kurly.com/pc/service/order/1711/ico_selectbox_arrow_10x6_active.png) no-repeat 170px 50%;font-weight:400;font-size:12px;color:#000;line-height:30px;letter-spacing:-0.2px}
	#cardSelect .select_box .tit.off{border:1px solid #ddd;background:#f8f8f8 url(https://res.kurly.com/pc/service/order/1711/ico_selectbox_arrow_10x6.png) no-repeat 170px 50%;color:#949296}
	#cardSelect .select_box .list{position:absolute;left:0;top:0;width:190px;height:34px;opacity:0}
	#cardSelect .card_point{padding-top:12px}
	#cardSelect .card_event{padding-top:11px;font-weight:bold;font-size:12px;color:#514859;line-height:22px;letter-spacing:-0.2px}
	#cardSelect .notice{padding-top:11px;font-size:12px;color:#514859;line-height:22px;letter-spacing:-0.2px}
	#cardSelect .notice.up_event{padding-top:4px}
	#cardSelect .notice .emph{padding-right:9px;font-weight:700}
	#settlekindCard{padding-right:48px}
	@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
		#cardSelect .select_box .tit{background-image:url(https://res.kurly.com/pc/service/order/1711/ico_selectbox_arrow_10x6_x2_active.png);background-size:10px 6px}
		#cardSelect .select_box .tit.off{background-image:url(https://res.kurly.com/pc/service/order/1711/ico_selectbox_arrow_10x6_x2.png);background-size:10px 6px}
		.user_form .goodsinfo_table .list_agree .link_terms{background:url(https://res.kurly.com/pc/service/order/1906/ico_arrow_12x18.png) no-repeat 100% 50%;background-size:6px 9px}
	}

	/* 2018-06-19 개인정보처리방침 추가끝 */
	.ord_notice li{padding-top:10px;font-size:12px;color:#514859;line-height:22px;letter-spacing:-0.23px;text-align:center}
	.ord_notice .emph{font-weight:700}

	/* ######################  ######################  ######################  ###################### */


	/* KM-1179 올페이퍼챌린지 */
	.bnr_order{display:none;padding:40px 0 0}
	.bnr_order img{vertical-align:top}
	.user_form .goodsinfo_table .layer .choice_agree.view_layer{overflow:hidden;height:600px;margin-top:-300px}
	.in_allpaper{overflow:hidden;overflow-y:scroll;width:500px;height:496px}
	.in_allpaper img{width:440px}


	/* 공통적용 */
	.tit_section{padding:60px 0 15px;font-weight:bold;font-size:20px;line-height:29px}
	.tit_section.fst{padding-top:0}
	.tit_section .desc{padding-left:27px;font-size:14px;color:#666;vertical-align:3px}
	.order_section{overflow:hidden;letter-spacing:-0.3px}
	.order_section .btn{overflow:hidden;height:34px;padding:6px 0 10px;font-weight:bold;font-size:14px;line-height:18px;text-align:center}
	.order_section .btn.normal{border:1px solid #999}
	.order_section .btn.default{border:1px solid #5f0080;background-color:#fff;color:#5f0080}
	.order_section .btn.active{border:1px solid #5f0081;border-radius:3px;background-color:#5f0080;color:#fff}
	.order_section .badge{display:inline-block;height:22px;margin-right:2px;padding:0 7px 4px 6px;border-radius:11px;background-color:#fff;font-weight:bold;font-size:12px;color:#5f0080;line-height:18px;vertical-align:top}
	.order_section .badge.default{border:1px solid #f3ebf4;background-color:#f3ebf5}
	.order_section .badge.star{border:1px solid #5f0080}
	.order_section .badge.regular{border:1px solid #999;color:#999}
	.order_section .badge.none{color:#b3130b}
	.order_section .badge.none + .default{border:1px solid #f2f2f1;background-color:#f2f2f2;color:#999}
	.order_section .section_crux{float:left;width:190px;padding:20px 0 0 20px;font-weight:bold;font-size:14px;color:#000;line-height:33px;letter-spacing:-0.3px}
	.order_section .section_full{overflow:hidden;padding:26px 20px 20px 0}


	/* 배송정보_배송지 */
	.order_address{border-top:1px solid #333;border-bottom:1px solid #ddd}
	.order_address .addr{display:block;padding-top:10px;font-size:14px;color:#000;line-height:20px}
	.order_address .no_address{display:block;padding-top:1px;font-size:14px;color:#ccc;line-height:20px}
	.order_address .num{white-space:nowrap}
	.order_address .receiving{display:block;padding-top:6px;font-size:14px;color:#666;line-height:20px}
	.order_address .btn{width:80px;margin-top:20px}
	/* 배송정보_수령장소 */
	.order_reception{border-bottom:1px solid #ddd}
	.order_reception .no_place{display:block;padding-top:1px;font-size:14px;color:#ccc;line-height:20px}
	.order_reception .place{display:block;font-size:14px;color:#000;line-height:20px}
	.order_reception .way{display:block;padding-top:6px;font-size:14px;color:#666;line-height:20px}
	.order_reception .way span,
	.order_reception .place span{display:inline-block;overflow:hidden;max-width:80%;color:#666;white-space:nowrap;text-overflow:ellipsis;vertical-align:top}
	.order_reception .btn{width:80px;margin-top:20px}
	/* 냉동상품 포장*/
	.order_pack{display:none;padding-bottom:9px;border-top:0 none;border-bottom:1px solid #ddd}
	/* .order_address.invalid .receiving, : KQA-1234 : 이유가 있었는데... */
	.order_address.invalid .no_address,
	.order_reception.invalid .no_place{color:#b3130b}


	/* 결제금액_sticky */
	.tax_absolute{position:relative;float:right;width:284px;height:0}
	.tax_absolute .inner_sticky{position:absolute;right:0;top:0;width:100%}
	#orderitem_money_info{width:100%;padding:17px 17px 18px 17px;background:#fafafa;border:2px solid #f2f2f2}
	#orderitem_money_info .amount{overflow:hidden;padding-top:12px;letter-spacing:-0.5px}
	#orderitem_money_info .fst{padding-top:0;padding-bottom:4px}
	#orderitem_money_info .lst{margin:17px 0 0 0;padding-top:17px;border-top:1px solid #eee}
	#orderitem_money_info .tit,
	#orderitem_money_info .lst .price .won,
	#orderitem_money_info .price{font:normal 16px/24px 'Noto Sans';vertical-align:top}
	#orderitem_money_info .lst .price .won{vertical-align:bottom}
	#orderitem_money_info .tit{float:left;width:96px}
	#orderitem_money_info .price{float:right;width:144px;text-align:right}
	#orderitem_money_info .price .emph{color:#5f0080}
	#orderitem_money_info .price .small{font-size:12px}
	#orderitem_money_info .sub{padding-top:8px}
	#orderitem_money_info .sub .tit,
	#orderitem_money_info .price .normal,
	#orderitem_money_info .sub .price{font-weight:normal;font-size:14px;color:#999;line-height:20px}
	#orderitem_money_info .sub .tit{padding-left:16px;background:url(https://res.kurly.com/pc/service/common/2004/ico_sub_price_dot.png) no-repeat 0 0}
	#orderitem_money_info .lst .price{font-weight:bold;font-size:22px;line-height:28px}
	.tax_absolute .reserve{padding-top:9px;font-size:12px;color:#666;line-height:16px;letter-spacing:0;text-align:right}
	.tax_absolute .reserve .ico{display:inline-block;width:30px;height:18px;margin-right:5px;border:1px solid #e8a828;border-radius:9px;background-color:#ffbf00;font-size:10px;color:#fff;line-height:15px;text-align:center;vertical-align:top}
	.tax_absolute .reserve .emph,
	.tax_absolute .reserve .emph span{font-weight:700;color:#666}
	@media
	only screen and (-webkit-min-device-pixel-ratio: 1.5),
	only screen and (min-device-pixel-ratio: 1.5),
	only screen and (min-resolution: 1.5dppx) {
		#orderitem_money_info .sub .tit{background: url(https://res.kurly.com/pc/service/common/2004/ico_sub_price_dot_x2.png) no-repeat 0 0;background-size:16px 20px}
	}

	/* 주문서 전용 딤드처리 */
	.bg_order{display:block !important}

