@charset "UTF-8";

.mainVisual {position:relative; height: 400px; z-index: 20;}
.mainVisual img {max-height: 400px; width: 100%;}

.mainVisual .slick-prev {position:absolute; top:100px; left:10px;  z-index: 10; content: '<'; width: 20px; height: 20px;}
.mainVisual .slick-next {position:absolute; top:100px; right:10px; z-index: 10; content: '>'; width: 20px; height: 20px;}

.main-review {height: 400px;}
.main-review h1{text-align: center;}

.today-best {height: 400px;}
.today-best h1{text-align: center;}


/* 개인정보 수정 */
.member_join .tbl_comm .fst th {
    padding-top: 29px;
}

.member_join input[type=text], .member_join input[type=password] {
    width: 332px;
}

.type_form textarea, .type_form input[type=text], .type_form input[type=password] {
    height: 44px;
    padding: 0 14px;
    border: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    line-height: 20px;
    border-radius: 3px;
    background: #fff;
    outline: none;
    vertical-align: top;
}

.member_mod th {
    width: 259px;
    padding-left: 120px;
}

#formSubmit {margin-bottom: 200px;}

.gnb a.link:hover {color: #66cdaa }


.AllCategory { position: relative; }

/* 카테고리 리스트 */
.category-list { display: none;
	overflow: hidden;
	position: absolute;
	z-index: 301;
	left: 0;
	top: 45px;
	width: 213px;
	padding-top: 1px}
.category-list ul {display: inline-block; width: 100px; height: 100px;}
.category-list ul li {display: block}